profiles {
  docker {
    docker.temp = "auto"
    docker.enabled = true
    process {
      withLabel: fastqc {
        container = "lbmc/fastqc:0.11.5"
        cpus = 1
      }
      withLabel: multiQC {
        container = "lbmc/multiqc:1.7"
        cpus = 1
      }
      withLabel: cutadapt {
        container = "lbmc/cutadapt:2.1"
        cpus = 1
      }
    }
  }
  pedago {
    singularity.enabled = true
    singularity.cacheDir = "./bin/"
    process {
      withLabel: fastqc {
        cpus = 1
        container = "lbmc/fastqc:0.11.5"
      }
      withLabel: multiQC {
        container = "umccr/multiqc_dragen:1.1"
        cpus = 1
      }
      withLabel: cutadapt {
        container = "lbmc/cutadapt:2.1"
        cpus = 1
      }
      withLabel: fastq_pair {
        container = "chgyi/fastq_pair"
        cpus = 1
      }
      withLabel: spades {
        container = "rpetit3/spades-cgc"
        cpus = 8
        memory = "100GB"
        time = "12h"
      }
      withLabel: quast {
        container = "staphb/quast"
        cpus = 1
      }
    }
  }
  psmn {
    singularity.enabled = true
    singularity.cacheDir = "$baseDir/.singularity_psmn/"
    singularity.runOptions = "--bind /Xnfs,/scratch"
    process{
      withLabel: fastqc {
        container = "lbmc/fastqc:0.11.5"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = "monointeldeb128"
      }

      withLabel: multiQC {
        container = "lbmc/multiqc:1.7"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "5GB"
        time = "6h"
        queue = "monointeldeb128"
      }
      withLabel: cutadapt {
        container = "lbmc/cutadapt:2.1"
        executor = "sge"
        clusterOptions = "-cwd -V"
        cpus = 1
        memory = "20GB"
        time = "12h"
        queue = "monointeldeb128"
      }

    }
  }
}
